*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
.build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
client_secrets.json
.project
.pydevproject
*.p12
*.pem
**/config*
**/*json
**/*conf
**/*txt
container.yaml
schema.json
output.txt
*.sh
