# BigQuery project id as listed in the Google Developers Console.
PROJECT_ID = ""
DATASET_ID = "tweets"
TABLE_ID = "2015_01_09"

# Service account email address as listed in the Google Developers Console.
SERVICE_ACCOUNT = 'ID@developer.gserviceaccount.com'

# PKCS12 or PEM key provided by Google.
KEY = ""

RECORD_FILE = "data/sample_tweet_cleaned.json"
