version: v1beta2
containers:
  - name: image_proj
    image: gcr.io/{{PROJECT_ID}}/image
    command: ['python' 'load.py']
    ports:
      - name: image_proj
        hostPort: 8080
        containerPort: 8080
