URL = 'https://www.googleapis.com/auth/bigquery'

# BigQuery project id as listed in the Google Developers Console.
PROJECT_ID = "xxxxxx"
PROJECT_NUMBER = "xxxxxx"

# BigQuery data set and table you want to stream into/query from
DATASET_ID = "xxxxxx"
TABLE_ID = "xxxxxx"

# Service account email address as listed in the Google Developers Console.
SERVICE_ACCOUNT = "xxxxxx-xxxxxx@developer.gserviceaccount.com"

# PKCS12 or PEM key provided by Google.
KEY_FILE = "key.p12"
KEY = None
with open(KEY_FILE, 'rb') as f:
    KEY = f.read()

# Twitter app keys and tokens
CONSUMER_KEY = "xxxxxx"
CONSUMER_SECRET = "xxxxxx"
ACCESS_TOKEN = "xxxxxx-xxxxxx"
ACCESS_TOKEN_SECRET = "xxxxxx"

SCHEMA_FILE = "data/schema.json"
SAMPLE_TWEET_FILE = "data/sample_tweet.json"

GNIP_URL = 'https://stream.gnip.com:443/accounts/piyush-kumar/publishers/twitter/streams/track/prod.json'
GNIP_USERNAME = 'xxxxxx'
GNIP_PASSWORD = 'xxxxxx'

GNIP_SCHEMA_FILE = "./schema_powertrack.json"
GNIP_SAMPLE_TWEET_FILE = "./sample_tweet_powertrack.json"
