<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title></title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
    <link href="/static/css/c3.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
    
    	<div class="row">
    	
    		<div class="col-md-4">

	    		<h3>Data Source</h3>
				<select id="source" name="source" class="form-control">
				  <option value="sources">Tweet sources</option>
				  <option value="hashtags">Hashtags</option>
				</select>
				
				<form class="form-horizontal" id="hashtags_holder" class="clearfix">
				
				  <div class="form-group">
				    <label for="exampleInputEmail1" class="col-sm-3 control-label">Hashtag 1</label>
				    <div class="col-sm-9">
				    	<input type="text" class="form-control" id="hashtag1" placeholder="Hashtag 1">
					</div>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1" class="col-sm-3 control-label">Hashtag 2</label>
				    <div class="col-sm-9">
				    	<input type="text" class="form-control" id="hashtag2" placeholder="Hashtag 2">
					</div>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputEmail1" class="col-sm-3 control-label">Hashtag 3</label>
				    <div class="col-sm-9">
				    	<input type="text" class="form-control" id="hashtag3" placeholder="Hashtag 3">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1" class="col-sm-3 control-label">Hashtag 4</label>
				    <div class="col-sm-9">
				    	<input type="text" class="form-control" id="hashtag4" placeholder="Hashtag 4">
				    </div>
				  </div>
				</form>

    		</div>

    		<div class="col-md-4">

				<h3>Pivot</h3>
				<select id="pivot" name="pivot" class="form-control">
				  <option value="">-- Choose one --</option>
				  <option value="hour">Hourly</option>
				  <option value="location">Location</option>
				</select>

    		</div>

    		<div class="col-md-4">

				<h3>Chart</h3>
				<select id="charttype" name="charttype" class="form-control">
				  <option value="donut">Donut</option>
				  <option value="line">Line</option>
				  <option value="timeseries">Timeseries</option>
				  <option value="map">Map</option>
				</select>

    		</div>
    	
    	</div>
		
		<hr>
		
		<center>
		
        <div id="chart">
        </div>
        
        <div id="map" style="position: relative; width: 750px; height: 500px;"></div>

    </div>
    <!-- /container -->

<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/d3.js"></script>
<script type="text/javascript" src="/static/js/c3.js"></script>
<script type="text/javascript" src="/static/js/datamaps.usa.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

</body>

</html>
