<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title></title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
    <link href="/static/css/c3.css" rel="stylesheet" rel="stylesheet">
    
</head>

<body>

    <div class="container">
    
    	<div class="row">
    	
    		<div class="col-md-4">

	    		<h3>Data Source</h3>
				<select id="source" name="source" class="form-control">
				  <option value="sources">Tweet Sources</option>
				  <option value="hashtags">Hashtags</option>
				</select>

    		</div>

    		<div class="col-md-4">

				<h3>Pivot</h3>
				<select id="pivot" name="pivot" class="form-control">
				  <option>Hourly</option>
				  <option>Location</option>
				</select>

    		</div>

    		<div class="col-md-4">

				<h3>Chart</h3>
				<select id="charttype" name="chart" class="form-control">
				  <option value="donut">Donut</option>
				  <option value="line">Line</option>
				  <option value="timeseries">Timeseries</option>
				  <option value="map">Map</option>
				</select>

    		</div>
    	
    	</div>
		
		<center>
        <div id="chart">
        	<img src="/static/img/loading.gif">
        </div>

    </div>
    <!-- /container -->

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/d3.js"></script>
<script type="text/javascript" src="/static/js/c3.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

</body>

</html>
