<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/static/img/bird.ico">
    <title>Twitter &hearts; BigQuery</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
    <link href="/static/css/c3.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    
</head>

<body>

    <div class="container">
    
    	<div class="row">

    		<div class="col-md-1">
    			<img src="/static/img/bird_large.png" width="100%" class="logo">
    		</div>
    	
    		<div class="col-md-3">

	    		<h5>Data Source</h5>
				<select id="source" name="source" class="form-control">
				  <option value="">-- Select one --</option>
				  <option value="hashtags">Hashtags</option>
				  <option value="mentions">Mentions</option>
				  <option value="sources">Tweet sources</option>
				</select>
				
    		</div>

    		<div class="col-md-3">

				<h5>Pivot</h5>
				<select id="pivot" name="pivot" class="form-control">
				  <option value="">None</option>
				  <option value="hour">Hourly</option>
<!--
				  <option value="location">Location</option>
-->
				</select>

    		</div>

    		<div class="col-md-3">

				<h5>Chart</h5>
				<select id="charttype" name="charttype" class="form-control">
				  <option value="donut">Donut</option>
				  <option value="bar">Bar</option>
				  <option value="timeseries">Timeseries</option>
<!--
				  <option value="map">Map</option>
-->
				</select>

    		</div>
    		
		  <div class="col-md-2">
    		  	<h5>&nbsp;</h5>
  	    		<input id="query_submit" class="btn btn-primary" type="submit" value="Submit">
		  </div>

    	
    	</div>
    	
		<div class="row" id="hashtags_holder">
			<div class="col-sm-offset-1 col-sm-9">
				<form class="form-inline input_holder">
				
				  <div class="form-group">
					<div class="input-group col-sm-offset-1 col-sm-11">
					  <span class="input-group-addon" id="basic-addon1">#</span>
					  <input type="text" class="form-control hashtag" id="hashtag1" placeholder="Hashtag 1" aria-describedby="basic-addon1">
					</div>
				  </div>
				  <div class="form-group">
					<div class="input-group col-sm-offset-1 col-sm-11">
					  <span class="input-group-addon" id="basic-addon1">#</span>
					  <input type="text" class="form-control hashtag" id="hashtag2" placeholder="Hashtag 2" aria-describedby="basic-addon1">
					</div>
				  </div>
				  <div class="form-group">
					<div class="input-group col-sm-offset-1 col-sm-11">
					  <span class="input-group-addon" id="basic-addon1">#</span>
					  <input type="text" class="form-control hashtag" id="hashtag3" placeholder="Hashtag 3" aria-describedby="basic-addon1">
					</div>
				  </div>
				  <div class="form-group">
					<div class="input-group col-sm-offset-1 col-sm-11">
					  <span class="input-group-addon" id="basic-addon1">#</span>
					  <input type="text" class="form-control hashtag" id="hashtag4" placeholder="Hashtag 4" aria-describedby="basic-addon1">
					</div>
				  </div>
				  
				</form>
			</div>
		</div>
		
		<div class="row" id="mentions_holder">
			<div class="col-sm-offset-1 col-sm-10">
				<form class="form-inline input_holder">
				
				  <div class="form-group">
					<div class="input-group col-sm-offset-1 col-sm-11">
					  <span class="input-group-addon" id="basic-addon1">@</span>
					  <input type="text" class="form-control mention" id="mention1" placeholder="Mention 1" aria-describedby="basic-addon1">
					</div>
				  </div>
				  <div class="form-group">
					<div class="input-group col-sm-offset-1 col-sm-11">
					  <span class="input-group-addon" id="basic-addon1">@</span>
					  <input type="text" class="form-control mention" id="mention2" placeholder="Mention 2" aria-describedby="basic-addon1">
					</div>
				  </div>
				  <div class="form-group">
					<div class="input-group col-sm-offset-1 col-sm-11">
					  <span class="input-group-addon" id="basic-addon1">@</span>
					  <input type="text" class="form-control mention" id="mention3" placeholder="Mention 3" aria-describedby="basic-addon1">
					</div>
				  </div>
				  <div class="form-group">
					<div class="input-group col-sm-offset-1 col-sm-11">
					  <span class="input-group-addon" id="basic-addon1">@</span>
					  <input type="text" class="form-control mention" id="mention4" placeholder="Mention 4" aria-describedby="basic-addon1">
					</div>
				  </div>
				  
				</form>
			</div>
		</div>
		
		<hr>
		
		
		<div id="canvas">
		
			<h1 id="title">Twitter &hearts; BigQuery</h1>
			
	        <div id="chart">Please select a DataSource and click "Submit"</div>
	        
	        <div id="map" style="position: relative; width: 750px; height: 500px;"></div>
        
        </div>
        
        <hr>
        
        <div class="row">
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Query</label>
			    <div class="col-sm-9">
			      <input type="text" class="form-control" id="query" placeholder="Google BigQuery query">
			    </div>
			  </div>
			</form>
        </div>

    </div>
    <!-- /container -->

<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/d3.js"></script>
<script type="text/javascript" src="/static/js/c3.js"></script>
<script type="text/javascript" src="/static/js/datamaps.usa.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>

</body>

</html>
