<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title></title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">


    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
    <style>
        .axis path {
            fill: none;
            stroke: #777;
            shape-rendering: crispEdges;
        }
        .social {
            clear: both;
            padding: 10px 36px 20px 36px;
        }
        .axis text {
            font-family: 'Lato';
            font-size: 13px;
        }
        .tick {
            stroke-dasharray: 1, 1;
        }
        .bar {
            fill: FireBrick;
        }
        #D3line {
            background: rgba(255, 255, 255, 0.5);
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        }
    </style>
    <script type="text/javascript" src="js/d3.js"></script>


</head>

<body>

    <div class="container">



        <!-- Jumbotron -->
        <div id="D3line" class="jumbotron">
            <h1>Chart Will be Here!!</h1>
            <svg id="visualisation" width="1000" height="500"></svg>

        </div>



        <!-- Site footer -->
        <div class="footer">
            <p>© Company 2014</p>
        </div>

    </div>
    <!-- /container -->

                <script>
        function InitChart() {
            var data = [{
                "count": "202",
                "year": "1590"
            }, {
                "count": "215",
                "year": "1592"
            }, {
                "count": "179",
                "year": "1593"
            }, {
                "count": "199",
                "year": "1594"
            }, {
                "count": "134",
                "year": "1595"
            }, {
                "count": "176",
                "year": "1596"
            }, {
                "count": "172",
                "year": "1597"
            }, {
                "count": "161",
                "year": "1598"
            }, {
                "count": "199",
                "year": "1599"
            }, {
                "count": "181",
                "year": "1600"
            }, {
                "count": "157",
                "year": "1602"
            }, {
                "count": "179",
                "year": "1603"
            }, {
                "count": "150",
                "year": "1606"
            }, {
                "count": "187",
                "year": "1607"
            }, {
                "count": "133",
                "year": "1608"
            }, {
                "count": "190",
                "year": "1609"
            }, {
                "count": "175",
                "year": "1610"
            }, {
                "count": "91",
                "year": "1611"
            }, {
                "count": "150",
                "year": "1612"
            }];

           
            
            var vis = d3.select("#visualisation"),
                WIDTH = 1000,
                HEIGHT = 500,
                MARGINS = {
                    top: 20,
                    right: 20,
                    bottom: 20,
                    left: 50
                },
                xScale = d3.scale.linear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([d3.min(data, function(d) {
                        return (parseInt(d.year, 10) - 5);
                    }),
                    d3.max(data, function(d) {
                        return parseInt(d.year, 10);
                    })
                ]),
                yScale = d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([d3.min(data, function(d) {
                        return (parseInt(d.count, 10) - 5);
                    }),
                    d3.max(data, function(d) {
                        return parseInt(d.count, 10);
                    })
                ]),
                xAxis = d3.svg.axis() // generate an axis
                .scale(xScale), // set the range of the axis
                
                yAxis = d3.svg.axis() // generate an axis
                .scale(yScale)
		.orient("left");
		
                
           

	    

            vis.append("svg:g") // add a container for the axis
                .attr("class", "axis") // add some classes so we can style it
                .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")") // move it into position
                .call(xAxis); // finally, add the axis to the visualisation

            vis.append("svg:g")
                .attr("class", "axis")
                .attr("transform", "translate(" + (MARGINS.left) + ",0)")
                .call(yAxis);


        }

        InitChart();
    </script>

</body>

</html>
