{% extends "base.html" %}
{% block bodycontent %}

{% include "chart_partial.html" %}

<div class="container page_footer">

    <div class="row">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">
		    	Query
		    	<br>
		    	<small><a href='https://cloud.google.com/bigquery/docs/dataset-shakespeare'>Tweet Dataset</a></small>
		    </label>
		    <div class="col-sm-9">
		    	<textarea id="query" class="form-control" rows="10"></textarea>
		    </div>
		  </div>
		</form>
    </div>

</div>
    
<script language="JavaScript1.2">

$(document).ready(function(){

	  ChartPage.init(true, true);
	
})

</script>
{% endblock %}
    