<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title></title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

   
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">

   

   
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Data Visualization App</h3>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Home</a></li>
          
          <li><a href="#">Source Code</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Data Visualization App</h1>
        <p class="lead">Python & D3.js Mashup app</p>
        <p><a class="btn btn-lg btn-success" href="http://pythond3jsmashup.appspot.com/chart" role="button">Click here</a></p>
      </div>

     

      <!-- Site footer -->
      <div class="footer">
        <p>© Company 2014</p>
      </div>

    </div> <!-- /container -->

  

</body></html>
