{% extends "base.html" %}
{% block bodycontent %}
	
<div class="pull-right">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ruleModal">
	  Add rule
	</button>
</div>
	
<h1>PowerTrack Rules</h1>

<p>Add or remove rules to your stream to update data piped to BigQuery.</p>

<br>
		
<div>

	<table class="table table-striped">
	<thead>
    <tr>
      <th></th>
      <th>Rule</th>
      <th>Dataset</th>
    <th width="40%">HPT JSON
    
<div class="btn-group pull-right">
  <button id="action_group" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#" class="rule_backfill">Backfill</a></li>
    <li><a href="#" class="rule_delete">Delete</a></li>
  </ul>
</div> 

    </th>
    </tr>
	</thead>
	<tbody id="table_data">
	</tbody>
	</table>
	
</div>
        
{% include "rule_add_partial.html" %}

{% raw %}
<script id="table_row" type="text/template">
<tr>
	<td>
		<input type="checkbox" class="table_action" data-rule="{{value}}" data-table="{{tag}}">
	</td>
	<td>
		{{value}}
	</td>
	<td>
		{{tag}}
	</td>
	<td>
		{{hpt}}
	</td>
</tr>
</script>
{% endraw %}

<script language="JavaScript1.2">

$(document).ready(function(){

	RulePage.init({{searchDays}});
	RulePage.init_list();
	
})

</script>

{% endblock %}