{% extends "base.html" %}
{% block bodycontent %}
	
		<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
		  Add rule
		</button>
	
		<h1>PowerTrack Rules</h1>
		
		<p>Add or remove rules to your stream to update data piped to BigQuery.</p>
		
		<br>
				
		<div>
		
			<table class="table table-striped">
			<thead>
	        <tr>
	          <th>Rule</th>
	          <th>Destination Table</th>
	          <th>Actions</th>
	        </tr>
      		</thead>
      		<tbody id="table_data">
      		</tbody>
			</table>
			
        </div>
        
    </div>
    
	<hr>

<!-- /container -->

{% include "rule_add_partial.html" %}

{% raw %}
<script id="table_row" type="text/template">
<tr>
	<td>
		{{value}}
	</td>
	<td>
		{{tag}}
	</td>
	<td>
		<a class="rule_delete" data-value="{{value}}">delete</a>
	</td>
</tr>
</script>
{% endraw %}

<script language="JavaScript1.2">

$(document).ready(function(){

	  RulePage.init_list();
	
})

</script>

{% endblock %}