{% extends "base.html" %}
{% block bodycontent %}
	
<div class="pull-right">
	<a class="btn btn-default table_delete" data-id="{{id}}" target="_target">Delete</a>
</div>

<h1>
	Dataset: {{tableReference.datasetId}}.{{tableReference.tableId}}<a href="https://bigquery.cloud.google.com/table/{{id}}" class="btn-lg" target="_target"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
</h1>

<br><br>

<div class="row">
  <div class="col-md-2"><label>Project</label></div>
  <div class="col-md-4">{{tableReference.projectId}}</div>
  <div class="col-md-2"><label>Created</label></div>
  <div class="col-md-4">{{creationTime}}</div>
</div>

<div class="row">
  <div class="col-md-2"><label>Type</label></div>
  <div class="col-md-4">Gnip</div>
  <div class="col-md-2"><label>Updated</label></div>
  <div class="col-md-4">{{lastModifiedTime}}</div>
</div>
		
<br>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab_chart" aria-controls="tab_chart" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation">
	    <a href="#tab_rules" aria-controls="tab_rules" role="tab" data-toggle="tab">PowerTrack Rules
	    &nbsp; &nbsp; 
		<button type="button" class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#ruleModal">
		  Add rule
		</button>
		</a>
	</li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="tab_rules">

<table class="table table-striped">
<thead>
<tr>
  <th>Rule</th>
  <th>Dataset</th>
  <th>Actions</th>
</tr>
</thead>
<tbody id="table_data">
</tbody>
</table>

    </div>
    <div role="tabpanel" class="tab-pane active" id="tab_chart">

<br>
<input type="hidden" id="select_table" value="{{tableReference.datasetId}}.{{tableReference.tableId}}">
{% include "chart_partial.html" %}

	</div>
  </div>


{% include "rule_add_partial.html" %}

{% raw %}

<script id="table_row" type="text/template">
<tr>
	<td>
		{{value}}
	</td>
	<td>
		{{tag}}
	</td>
	<td>
		<a class="rule_backfill" data-rule="{{value}}" data-table="{{tag}}">backfill</a>
		|
		<a class="rule_delete" data-rule="{{value}}">delete</a>
	</td>
</tr>
</script>

{% endraw %}

<script language="JavaScript1.2">

$(document).ready(function(){

	TablePage.init_detail("{{id}}");

})

</script>

{% endblock %}