{% extends "base.html" %}
{% block bodycontent %}
	
		<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
		  Create table
		</button>

		<h1>BigQuery Tables</h1>
		
		<p>View and manage BigQuery tables in your project.</p>
		
		<br>
				
		<div>
		
			<table class="table table-striped">
			<thead>
	        <tr>
	          <th>Table</th>
	          <th>Project</th>
	          <th>Type</th>
	          <th>Rules</th>
	          <th>Actions</th>
	        </tr>
      		</thead>
      		<tbody id="table_data">
      		</tbody>
			</table>
			
        </div>
        
    </div>
    
	<hr>

    <div class="container page_footer">
    
    </div>
    <!-- /container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create table</h4>
      </div>
      <div class="modal-body">

		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">Type</label>
		    <div class="col-sm-10">
		      <select name="table_type" id="table_type" class="form-control">
		      	<option value="gnip">Gnip</option>
		      	<option value="twitter">Twitter Stream</option>
		      </select>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">Project</label>
		    <div class="col-sm-10">
		      <input class="form-control align-right" id="table_project" type="text" value="{{projectId}}" readonly>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">Name</label>
		    <div class="col-sm-3">
		      <input class="form-control align-right" id="table_dataset" type="text" value="gnip." readonly>
		    </div>
		    <div class="col-sm-7">
		      <input type="text" class="form-control" id="table_name" placeholder="YOUR_TABLE_NAME">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label">Rule</label>
		    <div class="col-sm-10">
		      <textarea class="form-control" id="table_rules" placeholder="" rows="4"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="" class="col-sm-2 control-label"></label>
		    <div class="col-sm-10 checkbox">
		    	<label for="rule_import">
		      		<input type="checkbox" id="rule_import"> Import last 7 days of data
	      		</label>
		    </div>
		  </div>
		  <hr>
		  <div class="form-group" id="rule_import_count">
		    <div class="col-sm-12">
		      	<center>
		      		<img id="rule_import_loading" class='loading' src="/static/img/loading.gif">
		      		<p id="rule_import_text"></p>
		      	</center>
		    </div>
	      </div>
		</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default rule_test" id="rule_test">Test rule</button>
        <button type="button" class="btn btn-primary table_add" id="table_add">Create table</button>
      </div>
    </div>
  </div>
</div>

{% raw %}
<script id="table_row" type="text/template">
<tr>
	<td>
		<a href="/table/{{id}}">{{datasetId}}.{{tableId}}</a>
		<a href="https://bigquery.cloud.google.com/table/{{id}}" class="btn-sm" target="_target"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
	</td>
	<td>
		{{projectId}}
	</td>
	<td>
		Gnip
	</td>
	<td>
		<ul>
		{{#rules}}<li>{{.}}{{/rules}}
		</ul>
	</td>
	<td>
		<a class="table_delete" data-id="{{id}}" target="_target">delete</a>
	</td>
</tr>
</script>
{% endraw %}

<script language="JavaScript1.2">

$(document).ready(function(){

	  TablePage.init_list();
	
})

</script>

{% endblock %}