{% extends "base.html" %}
{% block bodycontent %}
	
<div class="pull-right">
	<a class="btn btn-default" href="https://bigquery.cloud.google.com/table/{{id}}" target="_target">View in BigQuery</a>
	<a class="btn btn-default table_delete" data-id="{{id}}" target="_target">Delete</a>
</div>

<h1>
	Dataset: {{tableReference.datasetId}}.{{tableReference.tableId}}
</h1>

<br><br>

<div class="row">
  <div class="col-md-2"><label>Project</label></div>
  <div class="col-md-4">{{tableReference.projectId}}</div>
  <div class="col-md-2"><label>Created</label></div>
  <div class="col-md-4">{{creationTime}}</div>
</div>

<div class="row">
  <div class="col-md-2"><label>Type</label></div>
  <div class="col-md-4">Gnip</div>
  <div class="col-md-2"><label>Updated</label></div>
  <div class="col-md-4">{{lastModifiedTime}}</div>
</div>

<br>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
    	<a id="tab_chart_link" href="#tab_chart" aria-controls="tab_chart" role="tab" data-toggle="tab">Overview</a>
    </li>
    <li role="presentation">
	    <a id="tab_rules_link" href="#tab_rules" aria-controls="tab_rules" role="tab" data-toggle="tab">PowerTrack Rules
	    &nbsp; &nbsp; 
		<button type="button" class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#ruleModal">
		  Add rule
		</button>
		</a>
	</li>
    <li role="presentation">
    	<a id="tab_advanced_link" href="#tab_advanced" aria-controls="tab_advanced" role="tab" data-toggle="tab">Advanced</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="tab_rules">

<table class="table table-striped">
<thead>
<tr>
  <th>Rule</th>
  <th>Dataset</th>
  <th width="40%">HPT JSON</th>
  <th>Actions</th>
</tr>
</thead>
<tbody id="table_data">
</tbody>
</table>

    </div>
    
    <div role="tabpanel" class="tab-pane" id="tab_advanced">

<br>
  
<div class="row">
  <div class="col-md-2">
  
	<ul class="nav nav-pills nav-stacked">
  		<li role="presentation" class="active"><a href="#">Users</a></li>
  		<li role="presentation"><a href="#">TBD</a></li>
	</ul>

  </div>
  <div class="col-md-10">
  
  	<div id="advanced_users">
  	
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body">
  	<p>See how many unique users have tweeted in this data set, and optionally import their tweets via new Gnip rules.</p>
    <a class="btn btn-sm btn-primary" id="advanced_users_calculate" data-id="{{id}}">Show unique users</a>
    <a class="btn btn-sm btn-default" id="advanced_users_rules" data-id="{{id}}">Add users to data set</a>

    <br><br>
    
    <p id="table_users_count">.</p>
    
	<table class="table table-striped">
	<thead>
	<tr>
	  	<th width="*">User</th>
  		<th width="20%">Tweet Count</th>
	</tr>
	</thead>
	<tbody id="table_users">
	</tbody>
	</table>
	
  </div>
</div>  	
  	
  	</div>
  
  </div>
</div>		

    </div>

    
    <div role="tabpanel" class="tab-pane active" id="tab_chart">

<br>
<input type="hidden" id="select_table" value="{{tableReference.datasetId}}.{{tableReference.tableId}}">
{% include "chart_partial.html" %}

	</div>
  </div>


{% include "rule_add_partial.html" %}

{% raw %}

<script id="table_row" type="text/template">
<tr>
	<td>
		{{value}}
	</td>
	<td>
		{{tag}}
	</td>
	<td>
		{{hpt}}
	</td>
	<td>
		<a class="rule_backfill" data-rule="{{value}}" data-table="{{tag}}">backfill</a>
		|
		<a class="rule_delete" data-rule="{{value}}">delete</a>
	</td>
</tr>
</script>

<script id="users_row" type="text/template">
<tr>
	<td>
		<a href="https://twitter.com/{{user}}" target="_target">@{{user}}</a>
	</td>
	<td>
		{{count}}
	</td>
</tr>
</script>

{% endraw %}

<script language="JavaScript1.2">

$(document).ready(function(){

	RulePage.init({{searchDays}});
	TablePage.init_detail("{{id}}");

})

</script>

{% endblock %}